<div class="jumbotron" id='very-top'>
  <div class="container-fluid">
    <div class='row third-height'>
      <div class="col-xs-12">
      </div>
    </div>
    <div class="row thrid-height">
      <div class="col-xs-12 col-sm-6 col-sm-push-3" style=''>
        Hello, world!
      </div>
    </div>
    <div class="row third-height">
    </div>
  </div>
</div>

<div class="container-fluid">
  <!-- <div class='row'>
      <div class="col-xs-12 col-sm-6 col-sm-push-4">
        <ul class="nav nav-pills">
          <li role='presentation' class='active'><a href='#'>Home</a></li>
          <li role='presentation' ><a href='#'>About</a></li>
          <li role='presentation' ><a href='#'>Portfolio</a></li>
          <li role='presentation' ><a href='#'>Contact</a></li>
        </ul>
      </div>
  </div> -->
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Michael Gherard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      s
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<div id='headshot-container-first'>
</div>
<div id='headshot-container-second'>
</div>
